<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--setting max upload size to 1GB for IIS-->
    <!--maxRequestLength is measured in kilobytes-->
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" />
  </system.web>

  <!--setting max upload size to 1GB for IIS7 and above-->
  <system.webServer>
    <security>
      <requestFiltering>
        <!--maxAllowedContentLength is measured in bytes-->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>

  <!--setting asp to work with javascript instead of jquery-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <!-- session timeout -->
  <system.web>
    <sessionState mode="InProc" timeout="60"></sessionState>
  </system.web>

</configuration>


